body {
  background-color: black;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  background-color: black;
  background-image: url("../img/harrypotter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

#small {
  font-size: 9px;
}

#bolder {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 11px;
}

#fret{
  align-items: center;
}
#divider {
  align-items: flex-end;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#caps {
  text-transform: uppercase;
}

#boop {
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
