body {
  background-color: black;
  text-decoration-color: white;
}

.jumbotron {
  background-color: black;
  background-image: url("../img/harrypotter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}
