@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
  font-family: 'Poppins', serif;
}

h3 {
  color: #F4006A;
}

body {
  background-image: url("../img/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
  font-size: 16px;
}

nav {
  background-image: url("../img/navbar.png");
  background-size: cover;
  font-size: 22px;
  color: white;
}

.navbar {
  padding: .8rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

#desc {
  color: black;
}

/* p {
  color: green;
} */

#komo:hover {
  color: green;
}

#komo {
  color: red;
  text-align: center;
}

#mike {
  color: white;
  text-align: justify;
  padding-left: 0px;
  font-size: 22px;
  font-style: Poppins;
}

#navtext {
  color: white;
}

h4 {
  text-align: center;
  color: #F4006A;
  font-size: 30px;
}

#cup {
  font-size: 40px;
  text-align: center;
  color: #36485F;
}

#pik {
  /* height: 600px; */
  image-resolution: from-image;
}

#sik {
  text-align: center;
  color: white;
  margin-left: 20px;
}

#sum {
  margin-left: 20px;
}

#kip {
  height: : 5000px;
  height: : 5000px;
}

#lip {
  color: #F4006A;
  background-color: black;
  margin-right: -15px;
}

#komo {
  text-align: center;
  color: #F4006A;
  font-size: 50px;
}

#sit {
  font-size: 10px;
  color: white;
}

#dip {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

#pig {
  font-size: -30px;
}

/* #buk{
  background-color: black;
} */

#at {
  text-align: center;
}

#nop p {
  text-align: center;
}

#dip {
  background-color: black;
  text-decoration-color:
}

#PUK {
  height: 50%;
}

h {
  color: #F4006A;
}

#kum {
  font-size: 40px;
}

/* #myNavbar{
  text-align:center;
} */

#nit {
  color: red;
}

.flex-container {
  display: flex;
  height: 200px;
  align-items: centre;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 50px;
  background-color: black;
  padding-bottom: 70px;
  width: 109%;
  height: 0%;
  margin-bottom: 50px;
  color: white;
}

#mit {
  color: white;
}

#vip {
  color: green;
}

#dap {
  color: brown;
}

#dep {
  color: #3744AF;
}

#dip {
  color: #E18500;
}

#pip {
  color: #2C66B9;
}

#git {
  color: white;
}

#log {
  margin-right: 800px;
}

#b {
  color: red;
}

h {
  color: red;
}

#kik {
  padding-right: 100px;
  padding-right: 600px;
}
